.enlight {
  --enlight-check-opacity: 0;
  --enlight-blur-r: 's';
  --enlight-color: #6b63ff98;
  --enlight-blur-r-out: 2px;
  &::before {
    width: 0px !important;
    height: 0px !important;
  }
  &::after {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
  }
}
