* {
  &::-webkit-scrollbar {
    width: 5px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color, #A0AEC0);
    border-radius: 25px;
  }
}
