[data-checked] .enlight-sm {
  &::after {
    top: 4px !important;
    right: 4px !important;
    width: 10px !important;
    height: 10px !important;
  }
}

[data-checked-by-me='true'] .enlight-sm {
  position: relative;
  &::before {
    content: 'You';
    font-size: xx-small;
    text-align: center;
    font-family: 'Architects Daughter';
    color: var(--enlight-color, #928dff);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    box-shadow: 0px 0px var(--enlight-blur-r, 5px) 1px var(
        --enlight-color,
        #928dff
      ) inset;
  }
}
